@model List<EmployeeManagementSystem.Models.Employee>

@{
    int count = 1;
}

<h2>Employee List</h2>

<h5>Total Employees: @Model.Count</h5>

<form method="get">

    <div class="row mb-3">

        <div class="col-md-4">
            <input type="text"
                   name="searchString"
                   value="@ViewBag.SearchString"
                   class="form-control"
                   placeholder="Search Employee Name" />
        </div>

        <div class="col-auto">
            <button type="submit"
                    class="btn btn-primary">
                Search
            </button>
        </div>

        <div class="col-auto">
            <a asp-action="Index"
               class="btn btn-secondary">
                Clear
            </a>
        </div>

        <div class="col-auto">
            <a asp-action="Create"
               class="btn btn-success">
                Add Employee
            </a>
        </div>

    </div>

</form>

<table class="table table-bordered table-striped">

    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var emp in Model)
        {
            <tr>
                <td>@count</td>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Department</td>
                <td>₹ @emp.Salary.ToString("N2")</td>

                <td class="text-center">

                    <a asp-action="Edit"
                       asp-route-id="@emp.Id"
                       class="btn btn-info btn-sm">
                        Edit
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@emp.Id"
                       class="btn btn-danger btn-sm">
                        Delete
                    </a>

                </td>
            </tr>

            count++;
        }

    </tbody>

</table>